.gradient-custom {
  padding-top: 50px;
  padding-bottom: 200px;
  padding-left: 100px;
  padding-right: 250px;


  /* fallback for old browsers */
  background: #b9d8fa;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to top left,
    rgb(206, 248, 245),
    rgba(246, 243, 255, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top left,
    rgb(193, 241, 245),
    rgba(246, 243, 255, 1)
  );
}
