<div class="col-lg">
  <!-- Cart items section -->
  <h5 class="mb-3">
    <a href="#!" class="text-body"
      ><i class="fas fa-long-arrow-alt-left me-2"></i>Continue shopping</a
    >
  </h5>
  <hr />

  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <p class="mb-1">Shopping cart</p>
      <p class="mb-0">
        You have
        <ng-container *ngIf="isUserRegisteredOrAdmin; else localCartMessage">
          <ng-container *ngIf="cartItemsDatabase$ | async as databaseItems">
            {{ calculateTotalQuantity(databaseItems) }} item(s) in your cart
          </ng-container>
        </ng-container>
        <ng-template #localCartMessage>
          <ng-container
            *ngIf="cartItemsLocalStorage$ | async as localStorageItems"
          >
            {{ calculateTotalQuantity(localStorageItems) }} item(s) in your cart
          </ng-container>
        </ng-template>
      </p>
    </div>
  </div>

  <div class="row">
    <!-- Cart items column -->
    <div class="col-md-8">
      <div
        class="card mb-3"
        *ngFor="let item of (cartItemsLocalStorage$ | async) || []"
      >
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img
                  width="500px"
                  height="500px"
                  src="{{ item.productImage }}"
                  class="img-fluid rounded-3"
                  alt="Shopping item"
                />
              </div>
              <div class="ms-3">
                <h5>{{ item.productName }}</h5>
                <p class="small mb-0">{{ item.productDescription }}</p>
              </div>
            </div>
            <div class="d-flex flex-row align-items-center">
              <div style="width: 50px">
                <h5 class="fw-normal mb-0">{{ item.productQuantity }}</h5>
              </div>
              <button
                class="btn btn-success btn-sm"
                (click)="incrementQuantity(item)"
              >
                +
              </button>
              <button
                class="btn btn-secondary btn-sm"
                (click)="decrementQuantity(item)"
              >
                -
              </button>
              <div style="width: 80px">
                <h5 class="mb-0">{{ item.productPrice | currency }}</h5>
              </div>
              <button
                class="btn btn-danger btn-sm"
                (click)="removeFromCart(item)"
              >
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngFor="let item of (cartItemsDatabase$ | async) || []">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-row align-items-center">
                <div>
                  <img
                    width="500px"
                    height="500px"
                    src="{{ item.productImage }}"
                    class="img-fluid rounded-3"
                    alt="Shopping item"
                  />
                </div>
                <div class="ms-3">
                  <h5>{{ item.productName }}</h5>
                  <p class="small mb-0">{{ item.productDescription }}</p>
                </div>
              </div>
              <div class="d-flex flex-row align-items-center">
                <div style="width: 50px">
                  <h5 class="fw-normal mb-0">{{ item.productQuantity }}</h5>
                </div>
                <button
                  class="btn btn-success btn-sm"
                  (click)="incrementQuantityDatabase(userId, item.productId)"
                >
                  +
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  (click)="decrementQuantityDatabase(userId, item.productId)"
                >
                  -
                </button>
                <div style="width: 80px">
                  <h5 class="mb-0">{{ item.productPrice | currency }}</h5>
                </div>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="deleteItemDatabase(userId, item.productId)"
                >
                  Remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Subtotal column -->
    <div class="col-md-4">
      <div class="card bg-primary text-white rounded-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h5 class="mb-0">Summary</h5>
          </div>

          <!-- Payment form content -->

          <hr class="my-4" />

          <div class="d-flex justify-content-between">
            <p class="mb-2">Subtotal</p>
            <p class="mb-2">{{ subtotal | currency }}</p>
          </div>

          <div class="d-flex justify-content-between">
            <p class="mb-2">Shipping</p>
            <p class="mb-2">{{ shipping | currency }}</p>
          </div>

          <div class="d-flex justify-content-between mb-4">
            <p class="mb-2">Total</p>
            <p class="mb-2">{{ total | currency }}</p>
          </div>

          <button
            type="button"
            class="btn btn-info btn-block btn-lg"
            routerLink="/app-checkout-page"
            routerLinkActive="active"
          >
            <div class="d-flex justify-content-between">
              <span></span>
              <span
                >Checkout <i class="fas fa-long-arrow-alt-right ms-2"></i
              ></span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
