<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-6">
            <div class="images p-3">
              <div class="text-center p-4">
                <img
                  id="main-image"
                  src="{{ product.productImage }}"
                  width="250"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="product p-4">
              <div class="mt-4 mb-3">
                <span class="text-uppercase text-muted brand"></span>
                <h5 class="text-uppercase">{{ product.productName }}</h5>
                <br />
                <div class="price d-flex flex-row align-items-center">
                  <span class="act-price"
                    >Price: {{ product.productPrice | currency }}</span
                  >
                </div>
              </div>
              <br />
              <p class="about">
                About This Product: {{ product.productDescription }}
              </p>
              <div class="sizes mt-5"></div>
              <div class="cart mt-4 align-items-center">
                <button
                  class="btn btn-danger text-uppercase mr-2 px-4"
                  (click)="addToCart(product)"
                >
                  Add to cart
                </button>
                <i class="fa fa-heart text-muted"></i>
                <i class="fa fa-share-alt text-muted"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div
          class="carousel-item"
          *ngFor="let product of suggestedProducts; let i = index"
          [class.active]="i === 0"
        >
          <app-card
            [product]="product"
            [imageUrl]="product.productImage ?? ''"
            [title]="product.productName ?? ''"
            [text]="product.productDescription ?? ''"
          ></app-card>
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
