<div class="container-fluid homepage">
  <div class="page-controls py-2 container-fluid justify-content-start">
    <div class="col-sm-1 col-md-6 col-lg-2 pag-container">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="changePage($event)"
      ></app-pagination>
    </div>
    <div class="col-sm-1 col-md-6 col-lg-6 search-form">
      <form class="d-flex" (submit)="onSearch()">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          [(ngModel)]="searchQuery"
          name="searchQuery"
        />
        <button class="btn btn-outline-light mx-1" type="submit">Search</button>
      </form>
    </div>

    <div class="col-sm-1 col-md-6 col-lg-1">
      <div class="category-filter">
        <div class="dropdown">
          <button
            class="btn btn-outline-light dropdown-toggle"
            type="button"
            id="categoryDropdown"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="categoryDropdown">
            <a
              *ngFor="let category of productCategories"
              class="dropdown-item"
              (click)="onCategoryChange(category)"
              >{{ "enums.productCategory." + category | translate }}</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col clear-filters">
      <button class="btn btn-outline-light" (click)="clearFilters()">
        Clear Filters
      </button>
    </div>

    <div class="col-sm-1 col-md-6 col-lg-2 per-page-form">
      <div class="form-group d-flex mt-0" id="perPage">
        <label for="perPage" class="me-1">Products per Page:</label>
        <select
          class="form-control"
          id="perPage"
          [(ngModel)]="itemsPerPage"
          (ngModelChange)="updateDisplayedProducts()"
        >
          <option [value]="5">5</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div *ngFor="let product of displayedProducts" class="card-column">
      <app-card
        [product]="product"
        [imageUrl]="product.productImage ?? ''"
        [title]="product.productName ?? ''"
        [text]="product.productDescription ?? ''"
      ></app-card>
    </div>
  </div>
  <br />
  <br />
  <br />
</div>
