<div class="container">
  <div class="border">
    <button class="btn btn-md btn-outline-primary" (click)="open(content)">Add Product</button>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>ProductName</th>
      <th>ProductDescription</th>
      <th>ProductImage</th>
      <th>ProductCategory</th>
      <th>ProductPrice</th>
      <th>ProductQuantity</th>
      <td>
        Options
      </td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of displayedProducts">
      <td><span>{{product.ProductId}}</span></td>
      <td><span>{{product.ProductName}}</span></td>
      <td><span>{{product.ProductDescription}}</span></td>
      <td><span>{{product.ProductImage}}</span></td>
      <td><span>{{product.ProductCategory}}</span></td>
      <td><span>{{product.ProductPrice}}</span></td>
      <td><span>{{product.ProductQuantity}}</span></td>
      <td>
        <button class="btn btn-sm btn-info">
          <i class="fa fa-search"></i>Details
        </button>
        <button class="btn btn-sm btn-warning" (click)="editProduct(product)">
          <i class="fa fa-edit"></i>Edit
        </button>
        <button class="btn btn-sm btn-danger" (click)="deleteProducts(product.ProductId)">
          <i class="fa fa-remove"></i>Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="productForm">
      <div class="form-group">
        <label for="productname">Product Name</label>
        <div class="input-group">
          <input id="productname" formControlName="ProductName" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="productdescription">Product Description</label>
        <div class="input-group">
          <input id="productdescription" formControlName="ProductDescription" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="productimage">Product Image</label>
        <div class="input-group">
          <input id="productimage" formControlName="ProductImage" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="productprice">Product Price</label>
        <div class="input-group">
          <input id="productprice" formControlName="ProductPrice" class="form-control" type="number">
        </div>
      </div>
      <div class="form-group">
        <label for="productcategory">Product Category</label>
        <div class="input-group">
          <!-- <input id="productcategory" formControlName="ProductCategory" class="form-control"> -->
          <select class="form-control" formControlName="ProductCategory">
            <option *ngFor="let categories of categoryList" [value]="categories">
              {{'enums.productCategory.'+categories | translate}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="productcategory">Product Quantity</label>
        <div class="input-group">
          <input id="productquantity" formControlName="ProductQuantity" class="form-control" type="number">
        </div>
      </div>
      <div class="border text-center">
        <button type="submit" data-dismiss="modal" class="btn btn-info" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
  </div>
</ng-template>

<app-modal [product]="selectedProduct"></app-modal>

<app-pagination
[currentPage]="currentPage"
[totalPages]="totalPages"
(pageChange)="changePage($event)"
></app-pagination>


